.passwordbtn {
  border: none;
  outline: none;
  height: 50px;
  width: 30%;
  background-color: #FAD1F0;
  color: black;
  border-radius: 20px;
  font-weight: bold;
}

.passwordbtn:hover {
  background-color: #FFEEFB;
  border: none;
  color: black;
}

.custompassword {
  margin-top: 100px;
}